/* Reset */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
$PrimaryColor:  #eaa2ff;
$ContentColor: #e28aff;
$PrimaryFont: 'Merriweather', serif;
    body{
        font-family: $PrimaryFont;
    }
   nav{
    background-color: $PrimaryColor;
    font-size: 2.3rem;
    display: flex;
    position: relative;
    // display: none;
   
        h1{
            display: flex;
            align-items: center;
            padding-left: 2.2rem;
            flex: 1;
        }

        #DesktopLinks{
            display: flex;
            align-items: center;
            padding: 2.2rem;
            li{
                list-style: none;
                margin-left: 1rem;
                position: relative;
                a{
                    text-decoration: none;
                    color: black;
                }
            }  
            li:nth-child(3):after{
                content: "";
                position: absolute;
                bottom: 0;
                left: -0.7rem;
                width: 10%;
                height: 100%;
                background-color: purple;
            }
        }
        #MainLinks{
            display: none;
            // display: flex;
            justify-content: flex-end;
            
            li{
                // visibility: hidden;
                list-style: none;
                padding: 2.2rem;

               a{
                text-decoration: none;
                color: black;
                font-weight: 700;
               }

               a:hover{
                color: white;
                transition: all 0.25s ease-in-out;
               }
            }
        }
   }
   nav:after{
    position: absolute;
    content: "";
    background-color: red;
    width: 0.2%;
    height: 100%;
    left: 119.8rem;
    background-color: purple;
   }
   .FirstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    background-color: $ContentColor;

        .AboutMe{
            h1{
                font-size: 3rem;
            }

            p{
                margin-top: 1rem;
            }
        }
        .Skills{
            font-size: 2.5rem;
            ul{
                display: flex;
                list-style: none;
                font-size: 2rem;
                margin-top: 1rem;

                    li{
                        margin-right: 1rem;
                    }
            }

        }
   }
@media only screen and (max-width: 560px){
    nav{
        .hidden{
            display: block !important;
        }
        display: block;
        position: relative;

        .HamburgerMain{
            position: absolute;
            border-radius: 50%;
            background-color: red;
            width: 5rem;
            height: 5rem;
            top: 1.5rem;
            right: 3rem;
            cursor: pointer;
        }

        #MainLinks{
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            display: none;
        }
        #DesktopLinks{
            display: none;
        }
    }
}